/* Práctica2_Alvaro_García_Martín.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('nubes.webp'); 
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
     background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: black; /* Asegura que el texto sea legible sobre el fondo */
}

/* CABEZERA */
.cabezera{
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;

}
/* BARRA DE NAVEGACION */
.barranavegacion {
    display: flex;
    gap: 50px;
}

.barranavegacion-item {
    color: white;
    cursor: pointer;
    
}

/* BARRA LATERAL */
.barralateral {
    position: fixed;
    left: 0;
    top: 60px;
    width: 60px;
    background-color: #333;
    color: white;
    display: flex; /* Usa flexbox para organizar los elementos */
    flex-direction: column; /* Coloca los elementos verticalmente */
    align-items: center; 
    padding: 10px; /* Espaciado interno de la barra lateral */
    gap: 20px; /* Espacio entre los elementos de la barra */
}

.barralateral-item {
    font-size: 24px;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* TABLERO PRINCIPAL*/
.tablero {
    margin-left: 80px;
    display: flex;
    justify-content: center; /* Centra las columnas horizontalmente */
    gap: 20px;
    padding: 20px;
}

.columna {
    background-color: #333;
    color: white;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}

.columna h2 {
    text-align: center;
    margin-bottom: 10px;
}

.carta {
    background-color: #fff;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fecha {
    background-color: green;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: white;
}

.fecha2 {
    background-color: red;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: white;
}

.boton {
    background-color: grey;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Pie página */
.pie {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.links1{
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.redessociales {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}
